.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin: 100px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}
.order-summary{
    /* border: 1px solid purple; */
    background-color: #FFE0B3;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.summary-content{
    text-align: start;
    padding-left: 32px;
}
.order-summary button{
    width: 232px;
    height: 48px;
    margin-left: 32px;
}
.clear-btn{
    background-color: #FF3030;
    color: white;
}
.review-btn{
    background-color: #FF9900;
    color: white;
}